<!DOCTYPE html>
<html ng-app="soundboard">
  <head>

    <base href="/">

    <title>soundboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <!-- build:css app.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- endinject -->

    <link rel="stylesheet" href="styles/css/app.css">

    <!-- endbuild -->

  </head>
  <body layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
          </md-button>
          <h1>Soundboard</h1>
        </div>
      </md-toolbar>
    <div ng-view></div>

    <!-- build:js app.js -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="app.js"></script>
    <script src="views/home/home.js"></script>
    <script src="views/home/home.controller.js"></script>
    <script src="services/sound/sound.js"></script>
    <script src="services/files/file.js"></script>
    <script src="filters/order-object-by/order-object-by.js"></script>
    <!-- endinject -->

    <!-- endbuild -->

  </body>
</html>
