<md-content>
  <form>
    <md-button class="md-raised md-accent" ng-click="vm.save(vm.sounds)">Save</md-button>
    <md-button class="md-raised" ng-click="vm.reset()">Reset</md-button>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="sound in vm.sounds | orderObjectBy:'button'">
        <div class="md-list-item-text">
          <h3>Button:  {{ sound.button }}</h3>
          <h4>Input: {{ sound.key }}</h4>
          <md-chips ng-model="sound.files" readonly="false" placeholder="Add a sound">
            <md-autocomplete
            md-selected-item="sound.selectedItem"
            md-search-text="sound.searchText"
            md-items="item in vm.querySearch(sound.searchText)"
            placeholder="Add a sound file"
            >
            <md-item-template>
              <span md-highlight-text="sound.searchText">{{item}}</span>
            </md-item-template>
            <md-not-found>
              No matches found for "{{sound.searchText}}".
            </md-not-found>
          </md-autocomplete>
        </md-chips>
      </div>
    </md-list-item>
  </md-list>
  <md-button class="md-raised md-accent" ng-click="vm.save(vm.sounds)">Save</md-button>
  <md-button class="md-raised" ng-click="vm.reset()">Reset</md-button>
</form>
</md-content>
